/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

/* DEFAULT VALUES */
.trans-03{ -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
.trans-05{ -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
.trans-07{ -webkit-transition: all .7s ease-in-out; -moz-transition: all .7s ease-in-out; -o-transition: all .7s ease-in-out; transition: all .7s ease-in-out; }
.trans-1{ -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }

/* RANGE PICKER & INPUT STYLES */

    .input-title{ font-size: 14px; font-weight: bold; text-transform: uppercase; margin-bottom: 5px;}

    .rangePicker__container{ position: relative; margin: 0 auto; }
    .rangePickerSlide_container{ position: relative; width: 100%; margin-top: 9px; }
        .rangePicker__line{ height: 8px; width: 100%; background: #aaa; border-radius: 10px; }
        .rangePicker__dot{ position: absolute; top: inherit; cursor: grab; cursor: -moz-grab; cursor: -webkit-grab; margin-top: -4px; background: #666; width: 15px; height: 15px; border-radius: 50%; z-index: 10;  }
            .dot__left{ left: 0; }
            .dot__right{ right: 0;  }
            .rangePicker__dot:hover{ transform: scale(1.1); transition: transform 0.2s ease-in-out; background: #333; }
            .rangePicker__dot:active{ cursor: grabbing; cursor: -moz-grabbing; cursor: -webkit-grabbing; }
    
    .rangePicker__Input{ width: 9%; position: absolute; top: inherit; }
        .minInput{ left: 0; margin-left: -60px; margin-top: -10px; }
        .maxInput{ right: 0; margin-top: -10px; margin-right: -70px; }
        .rangePicker__Input input, .actualPositionTxt{ width: 100%; border: 0; border-radius: 4px; height: 25px; font-size: 12px; outline: none; text-align: center; }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

